.l-container {
    max-width: 1200px;
    // padding-left: 1rem;
    // padding-right: 1rem;
    margin-left : 2rem;
    margin-right: 2rem;
    
}

.center{
    text-align: center;
}

.banner-button{
    display              : grid;
    grid-template-columns: repeat(2,1fr);
}
.features-button{
    display              : grid;
    grid-template-columns: repeat(1,1fr);
}

.mb-1{
    margin-bottom: 1.5rem;
}

.p-1{
    padding: 1rem;
}