$max-width    : 1250px;
$header-height: 3rem;

/*Para ocupar el mixin se requiere de un breakpoint, este breakpoint
contiene las medidas que vamos a manejar para nuestras pantallas ya dependera
de nosotros que medidas vamos a tomar porque */
$breakpoints : (
        small : 375px,
        msmall: 450px,
        medium: 740px,
        large : 960px,
        xlarge: 1240px
);

// Variables de apilamiento (z-index)
:root {
    --z-back    : -10;
    --z-normal  : 1;
    --z-tooltip : 10;
    --z-fixed   : 100;
    --z-modal   : 1000;
  }

//Paleta de colores
:root{
    --soft-blue: hsl(231,69%,60%);
    --soft-red : hsl(0,94%,66%);
    --gray-blue: hsl(229,8%,60%);
    --dark-blue: hsl(229,31%,21%);
}

//Variables de tipografia 
:root{
    
    --h1-font-size  : 1.5rem;
    --h2-font-size  : 1.25rem;
    --h3-font-size  : 1rem;
    --body-font-size: 14px;
    
    @include media(medium) {
        --h1-font-size    : 2.5rem;
        --h2-font-size    : 1.75rem;
        --h3-font-size    : 1.5rem;
        --body-font-size  : 18px;
        --small-font-size : .8rem;
      }
}
//Fuentes para los diferentes tamaños

